<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:fragment="title">Marketplace — Sign Up</title>
</head>
<body>
<main class="container pt-3" layout:fragment="content">
    <h1 class="mb-3">Create a new account</h1>
    <form method="post" th:action="@{/register}" th:object="${user}">
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control mb-3" id="username" th:field="*{username}" type="text"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('username')}">
                <span th:errors="*{username}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('password')}">
                <span th:errors="*{password}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <p class="mb-3"><a th:href="@{/login}">Already have an account?</a></p>
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
</main>
</body>
</html>