<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Marketplace — Sign Up</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <span class="navbar-brand">Marketplace</span>
    </div>
  </nav>
</header>
<main class="container pt-3">
  <h1 class="mb-3">Create a new account</h1>
  <form th:action="@{/register}" th:object="${user}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" class="form-control mb-3" th:field="*{username}" type="text"/>
      <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:errors="*{username}">Error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" class="form-control" th:field="*{password}" type="text"/>
      <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:errors="*{password}">Error</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <p class=mb-3><a th:href="@{/login}">Already have an account?</a></p>
    <button type="submit" class="btn btn-success">Sign In</button>
  </form>
</main>
</body>
</html>